<div class="container">
  <h3 class="text-center mt-5 mb-5">Hacker News New Articles</h3>
  <div class="input-group">
    <div class="form-outline"></div>
    <input type='text' name='search' class="form-control" [(ngModel)]="searchText" placeholder="Search by Title or Author">
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>By</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="
          let articles of articleList
            | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                } | filter:searchText;
          let i = index
        ">
        <td scope="row">{{ articles.title }}</td>
        <td>{{articles.by}}</td>
        <td *ngIf="articles.url != null; else elseBlock"><a href="{{ articles.url }}"> Click Here for Articles</a></td>
        <ng-template #elseBlock><td>No Link Provided</td></ng-template>
      </tr>
    </tbody>
  </table>
  <div *ngIf="isLoading" class="col-12 text-center" style="top: 75%">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <pagination-controls previousLabel="Prev"
                         nextLabel="Next"
                         (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
</div>
